In [1]:
# Understand that this entire program is based upon one primary idea - all data manipulation is done in a Pandas Dataframe
# A lot of people seem to have a problem with that - Why do you do it in a pandas dataframe.
# For starters, it's easy! The syntax is easy to use and remember.
# Also, the pandas dataframe was invented for the purpose of time series manipulation! So every other argument after this fails.

In [2]:
### Main program - get all the data from kite connect and start manipualtion

In [156]:
from kiteconnect import KiteConnect
import pandas as pd
from selenium import webdriver
import time
import os
from datetime import date
pd.options.mode.chained_assignment = None

In [157]:
token_path = 'api_key.txt'
key_secret = open(token_path,'r').read().split()   #gives a list object
kite = KiteConnect(api_key = key_secret[0])
#virtually start the chromedriver -  don't make the window pop up
service = webdriver.chrome.service.Service('C:/Users/MAHE/.wdm/drivers/chromedriver/83.0.4103.39/win32/chromedriver.exe')
service.start()
#don't render the browser, save some RAM
options = webdriver.ChromeOptions()
options.add_argument('--headless')
#just aggregating all the capabilities like headless, memoryless etc
options = options.to_capabilities()
#start the driver, pass the options 
driver = webdriver.Remote(service.service_url,options)
driver.get(kite.login_url())
driver.implicitly_wait(2)
#fint the element in the webpage by the HTML path
username = driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/div[1]/div/div/div[2]/form/div[1]/input')
password = driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/div[1]/div/div/div[2]/form/div[2]/input')
username.send_keys(key_secret[2])
password.send_keys(key_secret[3])
driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/div[1]/div/div/div[2]/form/div[4]/button').click()
pin = driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/div[1]/div/div/div[2]/form/div[2]/div/input')
pin.send_keys(key_secret[4])
driver.find_element_by_xpath('/html/body/div[1]/div/div[2]/div[1]/div/div/div[2]/form/div[3]/button').click()
time.sleep(2)
request_token = driver.current_url.split('=')[1].split('&action')[0]
with open('request_token.txt','w') as file:
    file.write(request_token)
driver.quit()

#Use request_token and get_access_token
request_token = open('request_token.txt','r').read().split()
key_secret = open('api_key.txt','r').read().split()
kite = KiteConnect(api_key = key_secret[0])
data = kite.generate_session(request_token[0],api_secret = key_secret[1])
with open('access_token.txt','w') as file:
    file.write(data['access_token'])
    
# Set access token and you're all set!!!!!!!!!!   
kite.set_access_token(open('access_token.txt','r').read().split()[0])

In [158]:
instrument_dump = kite.instruments("NSE")
instrument_df = pd.DataFrame(instrument_dump)
instrument_df

,instrument_token,exchange_token,tradingsymbol,name,last_price,expiry,strike,tick_size,lot_size,instrument_type,segment,exchange
0,258313,1009,CPSE INDEX,CPSE INDEX,0.0,,0.0,0.00,0,EQ,INDICES,NSE
1,264713,1034,HANGSENG BEES-NAV,HANGSENG BEES-NAV,0.0,,0.0,0.00,0,EQ,INDICES,NSE
2,264969,1035,INDIA VIX,INDIA VIX,0.0,,0.0,0.00,0,EQ,INDICES,NSE
3,258057,1008,LIX 15,LIX 15,0.0,,0.0,0.00,0,EQ,INDICES,NSE
4,258569,1010,NI15,NI15,0.0,,0.0,0.00,0,EQ,INDICES,NSE
...,...,...,...,...,...,...,...,...,...,...,...,...
2507,978945,3824,ZODJRDMKJ,ZODIAC JRD-MKJ,0.0,,0.0,0.05,1,EQ,NSE,NSE
2508,2916865,11394,ZOTA,ZOTA HEALTH CARE,0.0,,0.0,0.05,1,EQ,NSE,NSE
2509,7436801,29050,ZUARI,ZUARI AGRO CHEMICALS,0.0,,0.0,0.05,1,EQ,NSE,NSE
2510,979713,3827,ZUARIGLOB,ZUARI GLOBAL,0.0,,0.0,0.05,1,EQ,NSE,NSE
2511,4514561,17635,ZYDUSWELL,ZYDUS WELLNESS,0.0,,0.0,0.05,1,EQ,NSE,NSE

In [231]:
companies_nse = ['SBIN']

In [233]:
def instrumentLookup(symbol):
    global instrument_df
    try: 
        return instrument_df[instrument_df.tradingsymbol == symbol].instrument_token.values[0]
    except:
        return -1

In [234]:
def fetchOHLC(ticker,interval,start_date,end_date):
    instrument  = instrumentLookup(instrument_df,ticker)
    #Both the date and the interval need to be passed to historical_data in string format
    # This is contradictory to NSEpy
    data = pd.DataFrame(kite.historical_data(instrument,start_date,end_date,interval))
    data.set_index('date',inplace = True)
    return data

In [235]:
tokens_nse = []
for i in range(len(companies_nse)):
    tokens_nse.append(instrumentLookup(companies_nse[i]))

In [236]:
tokens_nse

[779521]

In [224]:
import statistics as stats
class technicalIndicators:
    
    @classmethod
    def simpleMovingAverage(cls,data,timePeriod):
        history = []
        sma_values = []
        
        for close_price in data.close:
            history.append(close_price)
            if len(history) > timePeriod:
                del(history[0])
            sma_values.append(stats.mean(history))
        return sma_values
    
    @classmethod
    def adx(cls,data,n):
        
        df2 = data.copy()
        df2['H-L']=abs(df2['high']-df2['low'])
        df2['H-PC']=abs(df2['high']-df2['close'].shift(1))
        df2['L-PC']=abs(df2['low']-df2['close'].shift(1))
        df2['TR']=df2[['H-L','H-PC','L-PC']].max(axis=1,skipna=False)
        df2['DMplus']=np.where((df2['high']-df2['high'].shift(1))>(df2['low'].shift(1)-df2['low']),df2['high']-df2['high'].shift(1),0)
        df2['DMplus']=np.where(df2['DMplus']<0,0,df2['DMplus'])
        df2['DMminus']=np.where((df2['low'].shift(1)-df2['low'])>(df2['high']-df2['high'].shift(1)),df2['low'].shift(1)-df2['low'],0)
        df2['DMminus']=np.where(df2['DMminus']<0,0,df2['DMminus'])
        TRn = []
        DMplusN = []
        DMminusN = []
        TR = df2['TR'].tolist()
        DMplus = df2['DMplus'].tolist()
        DMminus = df2['DMminus'].tolist()
        for i in range(len(df2)):
            if i < n:
                TRn.append(np.NaN)
                DMplusN.append(np.NaN)
                DMminusN.append(np.NaN)
            elif i == n:
                TRn.append(df2['TR'].rolling(n).sum().tolist()[n])
                DMplusN.append(df2['DMplus'].rolling(n).sum().tolist()[n])
                DMminusN.append(df2['DMminus'].rolling(n).sum().tolist()[n])
            elif i > n:
                TRn.append(TRn[i-1] - (TRn[i-1]/n) + TR[i])
                DMplusN.append(DMplusN[i-1] - (DMplusN[i-1]/n) + DMplus[i])
                DMminusN.append(DMminusN[i-1] - (DMminusN[i-1]/n) + DMminus[i])
        df2['TRn'] = np.array(TRn)
        df2['DMplusN'] = np.array(DMplusN)
        df2['DMminusN'] = np.array(DMminusN)
        df2['DIplusN']=100*(df2['DMplusN']/df2['TRn'])
        df2['DIminusN']=100*(df2['DMminusN']/df2['TRn'])
        df2['DIdiff']=abs(df2['DIplusN']-df2['DIminusN'])
        df2['DIsum']=df2['DIplusN']+df2['DIminusN']
        df2['DX']=100*(df2['DIdiff']/df2['DIsum'])
        ADX = []
        DX = df2['DX'].tolist()
        for j in range(len(df2)):
            if j < 2*n-1:
                ADX.append(np.NaN)
            elif j == 2*n-1:
                ADX.append(df2['DX'][j-n+1:j+1].mean())
            elif j > 2*n-1:
                ADX.append(((n-1)*ADX[j-1] + DX[j])/n)
        df2['ADX']=np.array(ADX)
        return df2['ADX']

In [225]:
#This will actually be a file of multiple strategies
class strategies:
    
    @classmethod
    def fiftyTwoHundredCrossoverSMA(cls,data):
        fifty_sma = technicalIndicators.simpleMovingAverage(data,50)
        two_hundred_sma = technicalIndicators.simpleMovingAverage(data,200)
        data = data.assign(fifty_sma = pd.Series(fifty_sma,index = data.index), 
                           twohundred_sma = pd.Series(two_hundred_sma,index = data.index))
        
        
        signals = []
        s1 = 0
        for i in range(len(data)):
            if (((data['fifty_sma'].iloc[i]>data['twohundred_sma'].iloc[i]) and (data['close'].iloc[i]>data['fifty_sma'].iloc[i])) and s1 == 0):
                signals.append(1)
                s1 = 1
            elif (((data['fifty_sma'].iloc[i]<data['twohundred_sma'].iloc[i]) or (data['close'].iloc[i]<data['fifty_sma'].iloc[i])) and s1 == 1):
                signals.append(-1)
                s1 = 0
                
            else:
                signals.append(0)
                
        data = data.assign(signals = pd.Series(signals,index = data.index))
            
        
        return data
    
    @classmethod
    def hitAndRun(cls,data): #All the strategies can be used individually but I am using only as an addition
        ##ADX > 30, stock price > 10 day sma and 50 day sma
        adx = technicalIndicators.adx(data,14)
        data['adx'] = adx
        data['adx'] = data['adx'].fillna(0)
        
        
        #Expansion Breakouts
        exapnsion_breakout = []
        s1 = 0
        for i in range(len(data)):
            if data['high'][i] > data['high'][-59:i].max():
                if (data["high"][i]-data["low"][i]>=(data["high"][-10:i]-data["low"][-10:i]).max()) and s1 == 0:
                    exapnsion_breakout.append(1)
                    s1 = 1

            elif data["low"][i] < data["low"][-59:i].min():
                if (data["high"][i] - data["low"][i] >= (data["high"][-10:i] - data["low"][-10:i]).max()) and s1 == 1:
                    exapnsion_breakout.append(-1)
                    s1 = 0

            else:
                exapnsion_breakout.append(0)
                
        
        #data = data.assign(expansion_breakout = pd.Series(expansion_breakout,index = data.index))   
            
                
        
        return exapnsion_breakout

In [226]:
class PnL:
    
    @classmethod
    def unrealizedProfitLoss(cls,data):
        data = data[(data['signals'] == 1 ) | (data['signals'] == -1)]
        pos = 0
        neg = 0
        if len(data)%2 != 0:
            data.drop(data.tail(1).index,inplace=True) # delete last row of a pandas dataframe
            
        for i in range(len(data)):
            if data['signals'].iloc[i] == 1:
                pos = pos + data['close'].iloc[i]
            elif data['signals'].iloc[i] == -1:
                neg = neg + data['close'].iloc[i] 
                
        return neg-pos

In [227]:
class instrument:
    def __init__(self,instrumentToken,start_date,end_date,interval):
        self.instrumentToken = instrumentToken 
        self.start_date = start_date
        self.end_date = end_date
        self.interval = interval
        self.data = historicalData.getData(self.instrumentToken,self.start_date,self.end_date,self.interval)
        # change strategy here to whatever strategy you want to apply
        self.strategy = strategies.hitAndRun(self.data)
        #self.pnl = PnL.unrealizedProfitLoss(self.strategy)

In [228]:
class historicalData:
    
    @classmethod
    def getData(cls,instrument_token,start_date,end_date,interval):
        data = pd.DataFrame(kite.historical_data(instrument_token,start_date,end_date,interval))
        data.set_index('date',inplace = True)
        return data

In [237]:
inst = instrument(779521,'2017-02-15','2020-02-15','day')

In [179]:
inst.pnl

AttributeError: 'instrument' object has no attribute 'pnl'

In [238]:
inst.strategy

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [116]:
data = inst.strategy[(inst.strategy['signals'] == 1 ) | (inst.strategy['signals'] == -1)]

In [117]:
data

,open,high,low,close,volume,fifty_sma,twohundred_sma,signals
date,,,,,,,,
2016-12-15 00:00:00+05:30,259.90,267.50,259.00,265.40,12274497,259.725,259.638235,1
2016-12-20 00:00:00+05:30,261.85,262.90,253.25,254.55,12765309,259.790,259.670370,-1
2017-01-18 00:00:00+05:30,257.10,259.30,256.60,258.35,8048897,257.310,256.766000,1
2017-01-20 00:00:00+05:30,258.50,260.50,250.30,251.05,15341756,256.673,256.712987,-1
2017-02-16 00:00:00+05:30,277.00,277.00,269.65,270.50,21794688,259.124,259.085263,1
2017-05-24 00:00:00+05:30,290.05,290.45,281.65,283.15,16435958,288.479,269.256918,-1
2017-05-25 00:00:00+05:30,284.15,291.35,283.55,290.10,15018467,288.840,269.387187,1
2017-05-26 00:00:00+05:30,290.50,291.00,285.30,288.45,12304394,289.116,269.505590,-1
2017-06-21 00:00:00+05:30,288.25,292.45,288.25,290.90,10537576,290.807,271.291061,1
2017-06-23 00:00:00+05:30,294.75,295.55,287.80,288.95,20648597,290.783,271.516851,-1
2017-07-14 00:00:00+05:30,288.80,293.60,287.25,291.60,13750192,288.639,272.141795,1
2017-08-11 00:00:00+05:30,294.50,303.00,277.45,280.15,67652562,290.009,275.905500,-1
2017-11-22 00:00:00+05:30,330.85,339.65,327.00,335.30,22861716,285.363,284.868750,1
2017-12-28 00:00:00+05:30,315.30,316.50,307.65,308.40,20353152,315.190,290.818250,-1
2018-01-23 00:00:00+05:30,306.40,320.55,306.35,318.10,35252217,316.033,293.030750,1
2018-01-25 00:00:00+05:30,332.75,332.75,311.85,313.15,42466150,315.813,293.352000,-1

In [89]:
len(data)

13

In [91]:
data.drop(data.tail(1).index,inplace=True)

C:\Users\MAHE\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [92]:
data

,open,high,low,close,volume,fifty_sma,twohundred_sma,signals
date,,,,,,,,
2017-02-14 00:00:00+05:30,517.50,526.45,514.95,524.90,8340828,524.6774,521.053118,1
2017-05-18 00:00:00+05:30,670.13,675.00,662.05,663.68,4475832,669.8238,573.720000,-1
2017-05-29 00:00:00+05:30,668.50,682.73,667.80,678.45,10982340,671.6092,577.457222,1
2017-05-31 00:00:00+05:30,683.50,683.98,667.90,670.35,7508198,672.6262,578.646951,-1
2017-06-14 00:00:00+05:30,657.95,680.00,657.95,678.75,24202054,678.4608,583.589368,1
2017-09-27 00:00:00+05:30,825.60,825.70,795.50,799.15,8434196,804.6412,669.648150,-1
2017-10-04 00:00:00+05:30,799.20,824.95,795.60,818.85,8643924,806.6646,675.182250,1
2017-12-21 00:00:00+05:30,918.45,923.95,910.00,912.95,4147162,918.6250,777.607500,-1
2017-12-22 00:00:00+05:30,914.65,922.40,909.30,920.40,4872675,919.5780,778.946100,1
2017-12-29 00:00:00+05:30,926.50,932.30,918.50,921.05,5069838,922.7120,784.528650,-1
2018-01-05 00:00:00+05:30,921.80,926.90,920.25,923.25,3401905,920.8730,791.240850,1
2018-01-18 00:00:00+05:30,929.00,929.60,915.10,919.70,4289053,921.4780,804.743750,-1

In [85]:

for i in range(len(inst.strategy)):
    if inst.strategy['signals'].iloc[i] == 1:
        total = total - inst.strategy['close'].iloc[i]
    elif inst.strategy['signals'].iloc[i] == -1:
        total = inst.strategy['close'].iloc[i] + total

In [86]:
total

-589.02

In [94]:
pos = 0
neg = 0
for i in range(len(data)):
    if data['signals'].iloc[i] == 1:
        pos = pos + data['close'].iloc[i]
    elif data['signals'].iloc[i] == -1:
        neg = neg + data['close'].iloc[i]

In [95]:
neg-pos

342.27999999999975